.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo > img{
    width: 8rem;
    height: 7rem;
}

.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    flex-wrap: wrap;
}

.nav-items > li{
    padding: 1rem;
}