@tailwind base;
@tailwind components;
@tailwind utilities;


/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid wheat;
    height: 30%;
    padding: 0px 5px 5px 5px;
    width: 100%;
    background-color: white;
    margin-right: 5px;
}

.logo > img{
    width: 5rem;
    height: 4rem;
}

.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    flex-wrap: wrap;
    font-size: 24px;
    margin-right: 2rem;
}

.nav-items > li{
    padding: 1rem;
}
.body{
    padding: 5px;
    background-color: lightsteelblue;
}

.res-container{
    width: 100%;
    display: flex;
    padding: 15px 5px;
    flex-wrap: wrap;
    justify-content : space-evenly;
    gap: 2rem;
}
.res-link{
    width: 20%;
    height: 24rem;
    text-decoration: auto;
    
}
.res-card{
    width: 100%;
    height: 100%;
    background-color: ivory;
    border-radius: 0.5rem;
    margin: 5px;
    position: relative;
}

.res-card:hover{
    border: 1px solid yellow;
    cursor: pointer;
    overflow: hidden;
}

.card-img > img:hover{
    transition: transform 0.1s ease-in-out 0s;
}

.card-img > img{
    width: 100%;
    height: 11rem;
    object-fit:cover;
    border-radius: 0.5rem;
}

.card-content{
    margin: 10px;
    width: 90%; 
    
}
.restroNameHeading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.restroNameHeading h3{
    color: rgb(28, 28, 28);
}
.restroNameHeading h5{
    width: 20%;
    background-color: green;
    border-radius: 0.3rem;
    color: white;
    text-align: center;
}
.restroSubTiles{
 
    color: rgb(105, 105, 105);
    font-size: 1.2rem;
    gap: 1rem;
}
.restroLocality{
    color: rgb(156, 156, 156);
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
}
.ellipsis {
    white-space: nowrap; /* Prevents text from wrapping /
    overflow: hidden; /* Hides any overflowed text /
    text-overflow: ellipsis; /* Adds the ellipsis (...) /
    display: block; /* Ensures the element is block-level /
    width: 100%; /* Ensures the element fills the container width /
    margin-top: 8px;
    margin-bottom: 8px;
}

.banner{
    position: absolute;
    top:130;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* background-color: green;/
    border-radius: 0.2rem;
/*    color: white; /
    padding: 0.2rem;
    color: rgb(255, 211, 133);
    background:linear-gradient(90deg, rgb(12, 14, 17) 0%, rgb(12, 14, 17) 25%, rgb(12, 14, 17) 50%, rgba(12, 14, 17, 0.8) 80%, rgba(12, 14, 17, 0) 100%);
}

.search{
    display: flex;
    justify-content: center;
    margin-right: 2px;
}

.search > input{
    width: 80%;
    height: 1rem;
    border-radius: 0.2rem;
    border: 1px solid black;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-evenly;
}

.shimmer-card{
    border-radius: 0.5rem;
    width: 200px;
    height: 200px;
    margin: 1rem;
    border: 1px solid grey;
    background-color: #f0f0f0;
}

.shimmer-img{
    width: 95%;
    height: 40%;
    border-radius: 0.5rem;
    margin: 5px;
    background-color: lightgrey;
}
.shimmer-content{
    padding: 10px;
    overflow: hidden;
    height: 60%;
}

.shimmer-text{
    background-color: lightgray;
    width: 100%;
    height: 10px;
}

.filter{
    display: flex;
    width: 50%;
}

.user-card{
    border: 1px solid black;
    padding: 1rem;
} */

@media screen and (max-width:800px){
    .subMenuSection{
        width: 100%;
    }

    .restroSubMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}